<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Config 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="website.marcioheleno.mvpquestmanager.mapper.RespondenteMapper">

    <select id="getRespondenteListMapper" resultType="Respondente">
        SELECT *
        FROM Respondente
    </select>

    <select id="getRespondenteIdMapper" resultType="Respondente" parameterType="int">
        SELECT *
        FROM Respondente
        WHERE cd_numero_registro = #{cd_numero_registro}
    </select>

    <insert id="addRespondenteMapper" parameterType="Respondente">
        INSERT
        INTO Respondente
        (
          cd_individuo,
          cd_fk_tab_fonte, cd_cpf, nome, email, telefone_fixo,
          telefone_cel, cep, cd_fk_tab_estado, cd_fk_tab_cidade,
          cd_fk_tab_municipio, sexo, data_nascimento,
          cd_fk_tab_faixa_etaria, cd_fk_tab_estado_civil,
          classe_social, cd_fk_tab_educacao, cd_fk_tab_renda,
          cd_fk_tab_profissao, cd_fk_posicao_trabalho,
          moradia, moradia_lazer, auxiliar_do_lar, possui_carro,
          raca
         )
        VALUES
        (
            #{cdIndividuo },
            #{cdFkTabFonte },
            #{cdCpf },
            #{nome },
            #{email },
            #{telefoneFixo },
            #{telefoneCel },
            #{cep },
            #{cdFkTabEstado},
            #{cdFkTabCidade},
            #{cdFkTabMunicipio},
            #{sexo},
            #{dataNascimento},
            #{cdFkTabFaixaEtaria},
            #{cdFkTabEstadoCivil},
            #{classeSocial},
            #{cdFkTabEducacao},
            #{cdFkTabRenda},
            #{cdFkTabProfissao},
            #{cdFkPosicaoTrabalho},
            #{moradia},
            #{moradiaLazer},
            #{auxiliarDoLar},
            #{possuiCarro},
            #{raca}
        )
    </insert>



    <update id="updateRespondenteMapper" parameterType="Respondente">
        UPDATE	Respondente
        SET
            cd_individuo = #{cdIndividuo},
            cd_fk_tab_fonte = #{cdFkTabFonte },
            cd_cpf = #{cdCpf },
            nome = #{nome },
            email = #{email },
            telefone_fixo = #{telefoneFixo},
            telefone_cel = #{telefoneCel},
            cep = #{cep},
            cd_fk_tab_estado = #{cdFkTabEstado},
            cd_fk_tab_cidade = #{cdFkTabCidade},
            cd_fk_tab_municipio = #{cdFkTabMunicipio},
            sexo = #{sexo},
            data_nascimento = #{dataNascimento},
            cd_fk_tab_faixa_etaria = #{cdFkTabFaixaEtaria},
            cd_fk_tab_estado_civil = #{cdFkTabEstadoCivil},
            classe_social = #{classeSocial},
            cd_fk_tab_educacao = #{cdFkTabEducacao},
            cd_fk_tab_renda = #{cdFkTabRenda},
            cd_fk_tab_profissao = #{cdFkTabProfissao},
            cd_fk_posicao_trabalho = #{cdFkPosicaoTrabalho},
            moradia = #{moradia},
            moradia_lazer = #{moradiaLazer},
            auxiliar_do_lar = #{auxiliarDoLar},
            possui_carro = #{possuiCarro},
            raca = #{raca}
        WHERE	cd_numero_registro = #{cdNumeroRegistro }
    </update>

    <delete id="deleteRepresentanteMapper" parameterType="int">
        DELETE
        FROM  Respondente
        WHERE cd_numero_registro = #{cdNumeroRegistro }
    </delete>

</mapper>
